$primary-color: #121212;
$secondary-color: #1F1F1F;
$highlight-color: #FFD700;
$highlight-hover-color: darken($highlight-color, 10%);
$accent-color: #E0E0E0;
$form-max-width: 800px;
$form-max-width-big: 1200px;
$space-big: 48px;
$text-color: #E0E0E0;
$shadow-color: rgba(0, 0, 0, 0.8);
$border-radius: 12px;
$border-radius-small: 8px;