.cardContainer {
  perspective: 1000px;
  margin: 0.5rem;
  width: 100%;
  height: 50vh;
  max-width: calc(100% - $space-small);

  @media (min-width: 600px) {
    height: 250px;
    max-width: calc(30% - $space-small);
  }
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  @media (min-width: 600px) {
    height: 100%;
  }
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  @extend %shadow_level_1;
}

.cardFront {
  background-color: $primary-color;
  color: $text-color;
}

.cardBack {
  background-color: $secondary-color;
  color: $text-color;
  transform: rotateY(180deg);
}

.isFlipped {
  transform: rotateY(180deg);
}

.cardIcon {
  font-size: 3rem;
  margin-bottom: 10px;
  color: $text-color;
  height: 35px;
  width: 35px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: $text-color;
}

.cardValue {
  font-size: 1.2rem;
  color: $text-color;
}

.cardDescription {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}