.container {
  background: $secondary-color;
  border-radius: $border-radius;
  padding: 1.5rem;
  max-width: 100%;
  text-align: center;
  color: $text-color;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @extend %shadow_level_1;

  .header {
    font-size: 1.5rem;
    color: $highlight-color;
    font-weight: 700;
    a {
      display: flex;
      flex-direction: row;
      gap: $space-small;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }

  .content {
    flex: 1;
  }

  .footer {
    padding-top: 1rem;
    font-size: 0.8rem;
    color: lighten($text-color, 20%);
    margin-top: 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
    gap: 1rem;
  }

  .intro {
    font-size: 0.8rem;
  }

  .footer {
    font-size: 0.7rem;
  }
}