.footer {
  z-index: 5;
  background-color: $primary-color;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
  padding-top: 1rem;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background-color: $text-color;
  opacity: .8;
  filter: url("#blob");
}

.bubble {
  position: absolute;
  left: var(--position, 50%);
  background-color: $dark-color;
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

.content {
  z-index: 5;
  padding: 2rem;
  background-color: $dark-color;
  color: $text-color;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: $space-medium;
  .contentBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: column;
      gap: calc($space-small / 2);
    }
    .links {
      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        flex-direction: row;
        gap: calc($space-small / 2);
      }
    }
    .flags {
      display: flex;
      flex-direction: column;
      gap: $space-small;
      .flag {
        border: solid 2px $text-color;
        border-radius: $border-radius-very-small;
        filter: brightness(70%);
        cursor: pointer;
        @extend %shadow_level_1;
        &.active {
          filter: brightness(100%);
        }
      }
    }
  }
  .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: 5rem;
  }
}