@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: $text-color;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-color: $highlight-color;
    text-underline-offset: 0.2em;
    transition: color 0.3s, text-decoration-color 0.3s;

    &:hover {
        color: $highlight-color;
        text-decoration-color: white;
    }

    &:visited {
        color: white;
    }
}