@font-face {
  font-family: 'LCD';
  src: url('../fonts/DS-DIGI.TTF') format('truetype');
}

.lcd-text {
  font-family: 'LCD', monospace;
}

.calcContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 200px;
  height: 200px;
}